parameters:
	tmpDir: build/phpstan
	level: 5
	paths:
		- src
		- tests
	bootstrapFiles:
		- vendor/codeigniter4/codeigniter4/system/Test/bootstrap.php
	excludes_analyse:
		- src/Config/Routes.php
		- src/Views/*
	ignoreErrors:
		- '#.+Mockery.+#'
		- '#Call to an undefined method .+::shouldReceive\(\)#'
		- '#Call to an undefined method CodeIgniter\\Database\\BaseBuilder::[A-Za-z]+\(\)#'
		- '#Call to an undefined static method Config\\Services::[A-Za-z]+\(\)#'
		- '#Cannot access property [\$a-z_]+ on (array|object)#'
	universalObjectCratesClasses:
		- CodeIgniter\Entity
		- CodeIgniter\Entity\Entity
		- Faker\Generator
	scanDirectories:
		- vendor/codeigniter4/codeigniter4/system/Helpers
	dynamicConstantNames:
		- APP_NAMESPACE
		- CI_DEBUG
		- ENVIRONMENT
