parameters:
	tmpDir: build/phpstan
	level: 5
	paths:
		- src/
		- tests/
	bootstrapFiles:
		- vendor/codeigniter4/framework/system/Test/bootstrap.php
	excludePaths:
		- src/Config/Routes.php
		- src/Views/*
	ignoreErrors:
		- '#.+deprecated class Myth\\Auth\\Authorization\\(Group|Permission)Model.+#'
		- '#.+Mockery.+#'
		- '#Call to an undefined method .+::shouldReceive\(\)#'
		- '#Call to an undefined static method Config\\Services::[A-Za-z]+\(\)#'
		- '#Cannot access property [\$a-z_]+ on (array|object)#'
		- '#Parameter \$user of method Myth\\Auth\\Authentication\\Passwords\\ValidatorInterface::check\(\) has typehint with deprecated class CodeIgniter\\Entity#'
	universalObjectCratesClasses:
		- CodeIgniter\Entity\Entity
		- Faker\Generator
	scanDirectories:
		- vendor/codeigniter4/framework/system/Helpers
	dynamicConstantNames:
		- APP_NAMESPACE
		- CI_DEBUG
		- ENVIRONMENT
