<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false">
    <testsuites>
        <testsuite name="all">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

    <php>
        <env name="app.baseURL" value="http://example.com"/>
        <env name="CI_ENVIRONMENT" value="testing"/>
        <env name="database.tests.DBDriver" value="SQLite3"/>
        <env name="database.tests.database" value=":memory:"/>
        <env name="database.tests.DBPrefix" value="myth_"/>
    </php>
</phpunit>
